@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg: transparent;
}
.dark {
  --ui-bg: transparent;
}

html {
  min-height: 100%;
  background: #070d1a fixed;
}

body {
  min-height: 100vh;
}