@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg: transparent;
}
.dark {
  --ui-bg: transparent;
}

html {
  min-height: 100%;
  background: linear-gradient(160deg, #d1ecf3c9 0%, #a2c3c5 18%, #59abc4 55%, #4f8391 100%) fixed;
}

body {
  min-height: 100vh;
}